.card {
    height: 67px;
    width: 67px;
    padding: 2px;
    border-radius: 12px;
    background-color: rgb(255, 169, 236);
}

.card.opened-card .content-wrapper {
    transform: rotateX(180deg);
}

.content-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.back-side, .front-side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: rgb(255, 169, 236);
}

.front-side {
    transform: rotateX(180deg);
}